{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta name="CaseViewer" content="A simple way to view patient cases">
    <title>SEMR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'custom_css/bs_3.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'S.ico' %}" type="image/x-icon">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Scrips for when you have an internet connetion
    Otherwise load local versions below-->
    <script src="{% static 'jcode/jquery.js' %}"></script>
    <script src="{% static 'jcode/highstock.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/emr_3.js' %}"></script>
</head>
<body>
<div class="container" id="case_body">

	<!-- Demographics bar -->
	<div class="row h-8">
        <nav class="navbar navbar-dark col-md-12" id="top-nav">
            <ul class="navbar-nav un-bulleted" id="bulleted-demographics">
                <li>
                    <a href="/SEMRinterface/{{study_id}}/{{user_id}}/">
                        <span class="navbar-brand glyphicon glyphicon-home" aria-hidden="false"
                            id="home-button"></span>
                    </a>
                </li>
                {% for item in dict_data_layout.title_bar %}
                    {% if item == "height" %}
                        {% with height=dict_demographics|keyvalue:item%}
                        <li class="bootstrap_margin_override navbar-text">{{ item }}:
                            {{ height.0 }}ft {{ height.1 }}in</li>
                        {% endwith %}
                    {% else %}
                        <li class="bootstrap_margin_override navbar-text">{{ item }}: {{ dict_demographics|keyvalue:item }}</li>
                {% endif %}
                {% endfor %}
            </ul> 

            <div>
                <ul class="navbar-nav un-bulleted">
                    <li class="navbar-text" id="selected-times"></li>
                </ul>
            </div>
            <div class="chartcolTS" id="time_selector">
                <script>
                {% autoescape off %}
                set_case_details({{dict_case_details}}, '{{study_id}}', '{{user_id}}', '{{case_id}}', {{time_step}});
                set_next_step_url();
                getchartTS("div[id='time_selector']", {{dict_case_details}}, {{time_step}});
                {% endautoescape %}
                </script>
            </div>
        </nav>
	</div>
	<!-- end of Demographics bar -->

	<!-- All Panels -->
	<div class="row" id="panels-container">
		<!-- Risk Scores, Vitals, Neurology, Blood Gas, CBC, Lactate, and Chemistry Panels --> 
		<div class="col-lg-8 no-pad scroll-box" id="graphs-box">
			<!-- Risk Score and Vitals Panel -->
			<div class="col-lg-3 vitmedbox no-pad">
				<div class="col-lg-12 half-vitmedbox no-pad" id="vit_tracking">
					{% for group in dict_data_layout.risk_score_and_vitals %}
					<div class="lab-group col-md-12" id="{{group}}">
						<div class="charttitlerow"  onclick="remove_vertical_point(true)">
							{% with observation=dict_observations|keyvalue:group%}
							    {{ observation.display_text }}
							{% endwith %}
						</div>
						<!-- chart rows will be added here via js -->
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- End of Risk Score and Vitals Panel -->
			
			<!-- Neurology Panel -->
			<div class="col-lg-3 vitmedbox no-pad">
				<div class="col-lg-12 medbox no-pad" id="med_tracking">
					{% for group in dict_data_layout.neurology %}
					<div class="lab-group col-md-12" id="{{group}}">
						<div class="charttitlerow"  onclick="remove_vertical_point(true)">
							{% with observation=dict_observations|keyvalue:group%}
							    {{ observation.display_text }}
							{% endwith %}
						</div>
						<!-- chart rows will be added here via js -->
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- End of Neurology Panel -->

			<!-- Blood Gas CBC Lactate Panel -->
			<div class="col-lg-3 vitmedbox no-pad">
				<div class="col-lg-12 medbox no-pad" id="med_tracking">
					{% for group in dict_data_layout.blood_gas_cbc_lactate %}
					<div class="lab-group col-md-12" id="{{group}}">
						<div class="charttitlerow"  onclick="remove_vertical_point(true)">
							{% with observation=dict_observations|keyvalue:group%}
							    {{ observation.display_text }}
							{% endwith %}
						</div>
						<!-- chart rows will be added here via js -->
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- End of Blood Gas CBC Lactate Panel -->

			<!-- Chemistry Panel -->
			<div class="col-lg-3 vitmedbox no-pad">
				<div class="col-lg-12 medbox no-pad" id="med_tracking">
					{% for group in dict_data_layout.chemistry %}
					<div class="lab-group col-md-12" id="{{group}}">
						<div class="charttitlerow"  onclick="remove_vertical_point(true)">
							{% with observation=dict_observations|keyvalue:group%}
							    {{ observation.display_text }}
							{% endwith %}
						</div>
						<!-- chart rows will be added here via js -->
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- End of Chemistry Panel -->

		</div>
		<!-- end of Physio, Med, and Lab Panels --> 

		<div> 	
			{% for ob_code, content in dict_observations.items %}
				<script>
				{% autoescape off %}
				add_observation_chart("{{ob_code}}", {{content}}, {{dict_variable_2_details|keyvalue:ob_code}}, {{ dict_data_layout.risk_score_and_vitals }})
				{% endautoescape %}
				</script>
			{% endfor %}
		</div>

        <!-- Note Panel -->
		<div class="col-lg-4 notetaskbox no-pad">
			<div class="col-lg-12 notebox no-pad">
                <ul class="nav nav-tabs" id="notes-tab" role="tablist">
                    {% for group in dict_notes %}
                        {% if forloop.first %}
                            <li class="nav-item active" tabindex="{{forloop.counter}}">
                                <a 
                                    class="nav-link"
                                    data-toggle="tab" 
                                    href="#tab{{forloop.counter}}" 
                                    role="tab"
                                    id="#nav-tab{{forloop.counter}}"
                                    aria-expanded="true"
                                    >{{ group }}
                                </a>
                            </li>
                            {% else %}     
                            <li class="nav-item" tabindex="{{forloop.counter}}">
                                <a 
                                    class="nav-link" 
                                    data-toggle="tab" 
                                    href="#tab{{forloop.counter}}" 
                                    role="tab"
                                    id="#nav-tab{{forloop.counter}}"
                                >{{ group }}</a>
                            </li>
                            {% endif %}
                    {% endfor %}
                </ul>
                <div class="contentArea tab-content">
                    {% for key, val in dict_notes.items %}
                        {% if forloop.first %}
                            <div class="tab-pane fade scroll-box note-content active in" id="tab{{forloop.counter}}" role="tabpanel">
                                <div>{{ val.text|linebreaks }}</div>
                            </div>
                        {% else %}
                            <div class="tab-pane fade scroll-box note-content" id="tab{{forloop.counter}}"
                                role="tabpanel">
                                <div>{{ val.text|linebreaks }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
			</div>
		</div>
		<!-- end of Note Panel -->

	</div>
</div>
<!-- end of All Panels -->
<script>
    show_loading();
</script>

</body>
</html>

