{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="icon" href="{% static 'S.ico' %}" type="image/x-icon">
    <link href="{% static 'custom_css/bs_3.css' %}" rel="stylesheet">

    <script src="{% static 'jcode/jquery.js' %}"></script>
	<script>			
		function caseReset(caseId, url) {
		  var xhttp = new XMLHttpRequest();
		  xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			  $('#select'+caseId).prop('disabled', false);
			  $('#reset'+caseId).hide();
			  $('#complete'+caseId).show();
			}
		  };
		  xhttp.open("GET", url, false);
		  xhttp.send();
		}
		
		function markComplete(caseId, url) {
		  var xhttp = new XMLHttpRequest();
		  xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			  $('#select'+caseId).prop('disabled', true);
			  $('#reset'+caseId).show();
			  $('#complete'+caseId).hide();
			}
		  };
		  xhttp.open("GET", url, false);
		  xhttp.send();
		}
	</script>
    <script>
    $(document).ready(function(){
        is_full_screen();
    });

    function is_full_screen(){
    // +1 is because firefox add an bar of pixel height 1 to the top of full screen that pops down the menu bar
    // the pop down functionality is disabled when F11 is pressed three times.
    if(screen.width === window.innerWidth && screen.height === window.innerHeight){
        $('#fs').hide();
    }else{
        $('#fs').show();
    }}
    </script>

</head>
<body bgcolor="#E6E6FA">
<h1>Welcome to the Simple EMR System - Case Selection Screen</h1>
<div id="fs"><h2>Please reload in full screen (F11 then F5)</h2></div>
<div class="info-div">
    <p> 
		The Simple EMR System is a rapidly deployable and readily customizable electronic medical record (EMR) user interface for supporting laboratory-based research studies of EMR design and usability.
    </p>
	<p> 
		For more information, please see <a href="https://github.com/ajk77/SimpleEMRSystem">Simple EMR System on github</a>.
	</p>
    </br></br>
	<p> 
		Study: {{ study_id }}
	</p>
	<p> 
		User: {{ user_id }}
	</p>
	<p> 
		Please select a case from the table below:
	</p>
	<table border="1">
        <tr>
            <th>Case Id</th>
            <th>Patient Age</th>
            <th>Admitting Diagnosis</th>
            <th>Case Completed</th>
            <th>Actions</th>  
        </tr>
        {% for case_id in list_cases_assigned %}
            {% if case_id in list_cases_completed %}
                <tr>
                    <td>
                        <a href="{{ case_id }}/">
                            <button id="select{{ case_id }}" disabled>{{ case_id }}</button>
                        </a> 
                    </td>
                    <td>
                        {{ patient_ages|get_value:case_id }}
                    </td>
                    <td>
                        {{ admitting_diagnoses|get_value:case_id }}
                    </td>
                    <td>Yes</td>
                    <td> 				
                        <button id="reset{{ case_id }}" onclick="caseReset('{{ case_id }}', 'study_id={{ study_id }}&user_id={{ user_id }}&case_id={{ case_id }}')">Reset</button> 
                        <button id="complete{{ case_id }}" onclick="markComplete('{{ case_id }}', 'study_id={{ study_id }}&user_id={{ user_id }}&case_id={{ case_id }}')" style="display:none;">Mark Complete</button> 
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        <a href="{{ case_id }}/">
                            <button id="select{{ case_id }}">{{ case_id }}</button>
                        </a>
                    </td>
                    <td>
                        {{ patient_ages|get_value:case_id }}
                    </td>
                    <td>
                        {{ admitting_diagnoses|get_value:case_id }}
                    </td>
                    <td>No</td>
                    <td> 
                        <button id="complete{{ case_id }}" onclick="markComplete('{{ case_id }}', 'markcomplete/?study_id={{ study_id }}&user_id={{ user_id }}&case_id={{ case_id }}')">Mark Complete</button> 
                        <button id="reset{{ case_id }}" onclick="caseReset('{{ case_id }}', 'casereset/?study_id={{ study_id }}&user_id={{ user_id }}&case_id={{ case_id }}')" style="display:none;">Reset</button> 				
                    </td>	
                </tr>
            {% endif %}
        {% endfor %}
    </table>

</div>

</body>
</html>
