{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta name="CaseViewer" content="A simple way to view patient cases">
    <title>SEMR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'custom_css/bs_3.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'S.ico' %}" type="image/x-icon">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Scrips for when you have an internet connetion
    Otherwise load local versions below-->
    <script src="{% static 'jcode/jquery.js' %}"></script>
    <script src="{% static 'jcode/highstock.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/emr_3.js' %}"></script>
</head>
<body>
<div class="glyphicon glyphicon-refresh" id="loading_new_patient"></div> <!-- this glyphicon blurrs the screen on loading -->
<div class="container" id="case_body">
	<!-- Introduction popup -->
	<div id="directions" class="center-div"><h4>Patient: {{ case_id }}.
	</h4><h4>{% date_line dict_case_details time_step %}
	</h4><h4> '{{ instructions }}'
	</h4>
		<input id="directions_button" type="button"  value="Okay" onclick="remove_directions()" disabled>
	</div>
	<!-- end of Introduction popup -->

	<!-- Demographics bar -->
	<div class="row">
        <nav class="navbar navbar-dark col-md-12" id="top-nav">
            <ul class="navbar-nav un-bulleted"> 
                <li>
                    <a href="/SEMRinterface/{{study_id}}/{{user_id}}/">
                        <span class="navbar-brand glyphicon glyphicon-home" aria-hidden="false"
                            id="home-button"></span>
                    </a>
                </li>
                {% for item in dict_data_layout.title_bar %}
                <li class="bootstrap_margin_override navbar-text">{{ item }}: {{ dict_demographics|keyvalue:item }}</li>
                {% endfor %}
            </ul> 
            
            <div class="separator"> </div>

            <!-- TODO: Shift the displayed times to the right -->
            <div>
                <ul class="navbar-nav un-bulleted">
                    <li class="navbar-text" id="selectedTimes"></li>
                </ul>
            </div>
            <ul class="navbar-nav un-bulleted">
                <li class="navbar-text">Selector: </li>
            </ul>
            <div class="chartcolTS" id="time_selector">
                <script>
                {% autoescape off %}
                var width = document.getElementById("time_selector").offsetWidth;
                console.log(width);
                set_case_details({{dict_case_details}}, '{{study_id}}', '{{user_id}}', '{{case_id}}', {{time_step}});
                set_next_step_url();
                getchartTS("div[id='time_selector']", {{dict_case_details}}, {{time_step}}, width);
                {% endautoescape %}
                </script>
            </div>
        </nav>
	</div>
	<!-- end of Demographics bar -->

	<!-- All Panels -->
	<div class="row">
		<!-- Risk Scores, Vitals, Neurology, Blood Gas, CBC, Lactate, and Chemistry Panels --> 
		<div class="col-lg-8 scroll-box">
			<!-- Risk Score and Vitals Panel -->
			<div class="col-lg-3 vitmedbox scroll-box">
				<div class="col-lg-12 half-vitmedbox scroll-box" id="vit_tracking">
					{% for group in dict_data_layout.risk_score_and_vitals %}
					<div class="lab-group col-md-12" id="{{group}}">
						<div class="charttitlerow"  onclick="remove_vertical_point(true)">
							{{group}}
						</div>
						<!-- chart rows will be added here via js -->
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- End of Risk Score and Vitals Panel -->
			
			<!-- Neurology Panel -->
			<div class="col-lg-3 vitmedbox scroll-box">
				<div class="col-lg-12 medbox scroll-box" id="med_tracking">
					{% for group in dict_data_layout.neurology %}
					<div class="lab-group col-md-12" id="{{group}}">
						<div class="charttitlerow"  onclick="remove_vertical_point(true)">
							{{group}}
						</div>
						<!-- chart rows will be added here via js -->
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- End of Neurology Panel -->

			<!-- Blood Gas CBC Lactate Panel -->
			<div class="col-lg-3 vitmedbox scroll-box">
				<div class="col-lg-12 medbox scroll-box" id="med_tracking">
					{% for group in dict_data_layout.blood_gas_cbc_lactate %}
					<div class="lab-group col-md-12" id="{{group}}">
						<div class="charttitlerow"  onclick="remove_vertical_point(true)">
							{{group}}
						</div>
						<!-- chart rows will be added here via js -->
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- End of Blood Gas CBC Lactate Panel -->

			<!-- Chemistry Panel -->
			<div class="col-lg-3 vitmedbox scroll-box">
				<div class="col-lg-12 medbox scroll-box" id="med_tracking">
					{% for group in dict_data_layout.chemistry %}
					<div class="lab-group col-md-12" id="{{group}}">
						<div class="charttitlerow"  onclick="remove_vertical_point(true)">
							{{group}}
						</div>
						<!-- chart rows will be added here via js -->
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- End of Chemistry Panel -->

		</div>
		<!-- end of Physio, Med, and Lab Panels --> 

		<div> 	
			{% for ob_code, content in dict_observations.items %}
				<script>
				{% autoescape off %}
				add_observation_chart("{{ob_code}}", {{content}}, {{dict_variable_2_details|keyvalue:ob_code}}, {{ dict_data_layout.risk_score_and_vitals }})
				{% endautoescape %}
				</script>
			{% endfor %}
		</div>

        

		<!-- Note Panel -->
		<div class="col-lg-4 notetaskbox scroll-box">
			<div class="col-lg-12 notebox scroll-box">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for group in dict_notes %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab{{forloop.counter}}"role="tab">{{ group }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="contentArea tab-content">
                    <!-- A note type can contain multiple notes within it -->
                    <!-- {% for key, val in dict_notes.items %}
                        <div>{{ key }}</div>
                        <div>{{ val }}</div>
                        <div class="tab-pane fade" id="tab{{forloop.counter}}" role="tabpanel">{{ val.0.text }}</div>
                    {% endfor %} -->

                    {% for key, val in dict_notes.items %}
                        <!-- TODO: Need to filter the note based on the category, somehow need to assign numbers to the notes dictionary, same order as in the for loop -->
                        <!-- Check whether the info pulled from dictionary matches the tab clicked on-->
                        <!-- <div>{{ key }}</div>
                        <div>{{ val }}</div> -->

                        {% with count=forloop.counter %}
                        
                        <div class="tab-pane fade" id="tab{{forloop.counter}}" role="tabpanel">
                            <div>{{ val.text|linebreaks }}</div>
                        </div>
                        {% endwith %}
                    {% endfor %}
                </div>
			</div>

			<div class="col-lg-12 taskbox scroll-box t-border">
				<div id="task" class="note task"><br>
				{{ instructions }}
					<hr>Then click
					<input id='next_screen_button' type="button" value="continue" onclick="link_advance();"></input>
				</div>
			</div>
		</div>

        {% comment %}
            {% for elem in val %}


            {% endfor %}
            {{ % if  == val.type %}}
            {{ elem.text }}
            {{ % endif %}}
        {% endcomment %}
		<!-- end of Note Panel -->
	</div>
</div>
<!-- end of All Panels -->
<script>
    show_loading();
</script>

</body>
</html>

